@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to TopRestaurant!</h1>
    <ul class="lead">
        <li>Find great places to eat based on the qualities that matter to you.</li>
        <br />
        <li>Create and share your lists of top restaurants.</li>
        <br />
        <li>Follow other list-makers based on a mutual qualities.</li>
        <br />
        <li>
            Restaurant Owner?
            Create an account to find out what customers have said about your eatery.
        </li>
    </ul>
    <p><a href="/megaLists" class="btn btn-primary btn-lg">View the Mega List &raquo;</a></p>
</div>

@if (Request.IsAuthenticated)
{
    <p>Yo this is only here if youre logged in!!!!</p>
}

else
{ <p>this is here if you AINT!!!!</p>}
