@import url('https://fonts.googleapis.com/css?family=Special+Elite');

ul li {
    /*display: inline;*/
    margin: 0px 5px;
}

.tabs {
    height: auto !important;
}

.sorter.ui-sortable {
    border: 1px dotted #2f2f32;
    margin: 5px 0px;
    padding: 5px;
}

ul, ol {
    padding: 0px;
}

div#tabs-0, div#tabs-1, div#tabs-2, div#tabs-3, div#tabs-4, div#tabs-5 {
    color: #5e4947;
    width: fit-content;
    margin: 32px 0px 16px 7px;
    font-size: 1.5em;
}

.sorter.ui-sortable {
    cursor: pointer;
}

a:hover {
    color: #7f18fd;
    text-decoration: none;
}

.boldHover:hover {
    font-weight: bolder;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active a {
    color: #5e4947;
    font-weight: bold;
    border-bottom: none;
    background-color: white;
}

.tabs h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 5px;
}

.ui-accordion-header:hover {
    color: red;
}

.tabs a {
    color: #5e4947;
    text-decoration: none;
    border: 1px #605f5f solid;
    padding: 5px 11px 10px;
    margin: 0px;
    line-height: 39px;
    background-color: #f1f1cd;
    z-index: 0;
    border-radius: 4px 4px 0px 0px;
}

    .tabs a:hover {
        color: #7f18fd;
    }

.accordion.ui-accordion.ui-widget.ui-helper-reset.ui-sortable-handle {
    padding: 5px;
}

a.iconButton {
    float: right;
    color: #337ab7;
    background-color: transparent;
    border: none;
    padding: 0px 5px;
    line-height: 1px;
}

h4, .h4, h5, .h5, h6, .h6 p, a, div {
    font-family: 'Special Elite', cursive;
}

.tabs li {
    display: inline;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0px 0px 0px 9px;
    width: 2em;
    height: 2em;
}

img.starSmall {
    width: 2em;
    margin-bottom: 0.7em;
}


@media (min-width: 992px) {

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: none;
    }
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}
@media (min-width: 768px) {
    .dl-horizontal dt {
        width: auto;
        margin-right: 2em;
    }
}


@media (min-width: 768px) {
    .dl-horizontal dd {
        margin-left: 0px;
    }
}